google-auth-httplib2
google-auth-oauthlib
selenium
selenium-wire
blinker==1.7.0
webdriver-manager==4.0.2
PyYAML
requests
beautifulsoup4
rich
pymupdf
pillow
pyyaml
typer
huggingface_hub
pytz
git+https://github.com/tans1q/monocorpus-models
git+https://github.com/tans1q/yadisk-client

